<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Phrazes"
        tools:targetApi="31">
        <activity
            android:name=".DeleteCategories"
            android:exported="false" />
        <activity
            android:name=".WordsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewCategories"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".CountDown"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AddCards"
            android:exported="false" />
        <activity
            android:name=".CreateCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".DownloadCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".HowToPlayActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ChooseTeam"
            android:exported="false" />
        <activity
            android:name=".ChooseDeck"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RoundEndActivity"
            android:exported="false" />
        <activity
            android:name=".GameEndActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>